@media ( max-width : 767.98px) {
	html body .content .content-wrapper {
		background-color: #dbdbdb !important;
	}
	
}

.background-mobile{
	background-image: linear-gradient(to right, #5068d7 , #a66ab6);
}
.bg-total{
	 background-image: linear-gradient(to right, #5068d7 , #a66ab6);
	 border-radius: 4px;
	
}
.bg-footer{
	background-color: #e9e9e9;
}

